body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-image {
  flex: 0 0 150px;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
}

.user-image img {
  width: 100%;
  height: auto;
}

.user-info {
  flex: 1;
}

.repositories {
  display: flex;
  margin: 80px 60px;
  flex-wrap: wrap;
  gap: 152px;
}

.repo-card {
  background-color: #7bd3ea;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: -13px;
  overflow: hidden;
  height: 52vh;
  width: 32vw;
  max-width: 66vw;
  padding: 18px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
  opacity: 107%;
}

.repo-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.repo-card-header {
  background-color: white;
  padding: 1px 18px;
  color: #526d82;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.repo-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-icon {
  align-self: flex-end;
  margin-top: 15px;
  width: 29px;
  transition: transform 0.3s ease-in-out;
}

.link-icon:hover {
  transform: scale(1.2); /* Increase the size on hover, adjust as needed */
}

@media (max-width: 768px) {
  .user-details {
    flex-direction: column;
  }

  .user-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Original styling for the search container */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover {
  background-color: #0099b0;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
  cursor: pointer;
  border: 1px solid #ddd;
  margin-right: 5px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
